body {
    font-family: sans-serif;
    background-color: #f8f5f0;
    line-height: 1.5;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

.navbar {
    background-color: #1A1A1A;
    color:#fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding:0.5rem;
    border-radius: 4px;
}

.footer {
    background-color: #1A1A1A;
    color: #fff;
    text-align: center;
    padding: 10px;
}
