body {
    font-family: sans-serif;
    background-color: #f8f5f0;
    line-height: 1.5;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

/* Nav Section */
.navbar {
    background-color: #1A1A1A;
    color:#fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.nav-title {
    font-size: 2rem;
}
.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding:0.5rem;
    border-radius: 4px;
}

.nav-links a:hover {
    background-color: #4f5d54;
}

.nav-logo {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
}

/* Intro */
.intro1 {
    text-align: center;
    padding: 1rem;
}

.introh {
    text-align: center;
    padding-top: 2rem;
}

.ol-wrapper {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: flex-start;
    flex-wrap: wrap;
}

/* Poem */

.poem-card {
    background-color: #f7f3e8;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    max-width: 820px;
    margin: 0 auto;
}
.poem1 {
    display: flex;
    line-height: 1.5;
    margin: 1.5rem;
    text-indent: 40px;
}

/* Carousel */
.carousel {
    position: relative;
    width: 100%;
}

.carousel-controls {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.slide {
    display: none;
    width: 100%;
}

.slide.active {
    display: block;
}

/* footer Section */
.footer {
    background-color: #1A1A1A;
    color: #fff;
    text-align: center;
    padding: 10px;
}
